<div class="col-md-4">
    {% include 'Controller/Account/Product/Sidepanel.twig' %}
</div>
<div class="col-md-8">
    {% include 'Helper/Status.twig' %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="icon-network"></span> IRC bouncer
            <strong class="small">{{ bouncer['login'] }}</strong>
        </div>
        <div class="panel-body">
            {% if bouncer %}
            <form class="form-horizontal" method="post" action="/account/product/bouncer/modify/" autocomplete="off">
                <div class="form-group">
                    <label for="username" class="col-md-3 control-label">Gebruikersnaam</label>

                    <div class="col-md-8">
                        <p class="form-control-static">{{ bouncer['login'] }}</p>
                    </div>
                    <div class="col-md-1 text-right">
                        <a href="https://bnc.fayntic.com:6697/mods/global/webadmin/edituser" target="_blank" class="btn btn-xs btn-primary">
                            <span class="icon-cog"></span>
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="col-md-3 control-label">Laatste login</label>

                    <div class="col-md-9">
                        <p class="form-control-static">{{ bouncer['lastseen']|date('d-m-Y H:i:s')|default('- ') }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-3 control-label">Wachtwoord</label>

                    <div class="col-md-9">
                        <input type="password" id="password" name="password" class="form-control"{% if bouncer %} placeholder="type hier om een nieuw wachtwoord in te stellen"{% endif %}/>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label for="location" class="col-md-3 control-label">IP adres (IPv6)</label>

                    <div class="col-md-9">
                        <p class="form-control-static">{{ bouncer['address'] }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="hostname" class="col-md-3 control-label">Hostnaam</label>

                    <div class="col-md-9">
                        <p class="form-control-static">{{ bouncer['hostname'] }}</p>
                    </div>

                    {#<div class="col-md-9">#}
                        {#<input type="text" id="hostname" name="hostname" class="form-control" value="{{ bouncer['hostname'] }}" data-validate-url="/account/product/bouncer/validate-hostname/" data-validate-data-address="{{ bouncer['address'] }}"/>#}
                        {#<small class="help-block hide"></small>#}
                        {#<span class="form-control-feedback"></span>#}
                    {#</div>#}
                </div>
                <div class="form-group">
                    <div class="btn-group col-md-9 col-md-offset-3">
                        <button type="submit" class="btn btn-primary"><span class="icon-disk"></span> Opslaan</button>
                    </div>
                </div>
            </form>
            {% else %}
                U heeft momenteel geen IRC bouncer
            {% endif %}
        </div>
    </div>
    {% if bouncer %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="icon-network"></span> Mijn netwerken
        </div>
        <div class="panel-body">
            <p>Er kan verbinding worden gemaakt met de IRC bouncer door de volgende gegevens te gebruiken</p>
            <kbd>/server bnc.fayntic.com 6667 {{ bouncer['login'] }}/<em>netwerk</em>:<em>wachtwoord</em></kbd>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-2">Netwerk</th>
                    <th>Server</th>
                    <th class="col-md-2 text-center">Kanalen</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                {% for network in bouncer['networks'] %}
                    {% set mask = network['nickname'] ~ '!' ~ network['username'] ~ '@' ~ network['hostname'] %}
                    <tr>
                        <td class="text-center">
                            <span class="{% if 'Yes' == network['connected'] %}icon-checkbox-checked2{% else %}icon-checkbox-unchecked3{% endif %}"></span>
                        </td>
                        <td>{{ network['network'] }}</td>
                        <td>
                            {% if 'Yes' == network['connected'] %}
                                {{ network['server'] }} (<abbr title="{{ mask }}">{{ network['nickname'] }}</abbr>)
                            {% else %}
                                <em class="text-danger">niet verbonden</em>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ network['channels'] }}</td>
                        <td class="text-center">
                            <a href="https://bnc.fayntic.com:6697/mods/global/webadmin/editnetwork?user={{ bouncer['login'] }}&network={{ network['network'] }}" target="_blank" class="btn btn-xs btn-primary">
                                <span class="icon-cog"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
